    <footer id="sticky-footer" class="py-4 bg-dark text-white">
      <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Steffany Naranjo V", "https://steffanynaranjov.dev", class: "text-white" %></small>
      </div>
    </footer>